@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

body{
  background-color: rgb(135, 135, 189);
  font-family: 'Baloo Bhai 2', cursive;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(53, 170, 170);
}

td {
  background-color: rgb(165, 201, 201);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;
}

button{
  padding: 3px;
  cursor: pointer;
  background-color: #141313;
  color: rgb(255, 255, 255);
  border-radius: 4px;
}

button:hover{
  padding: 3px;
  cursor: pointer;
  background-color: rgb(131, 125, 125);
  color: rgb(255, 255, 255);
  border-radius: 4px;
}

h1{
  text-align: center;
}